* {
    margin: 0;
    padding: 0;
}

body {
    background-color: orangered;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 64px;
    padding-top: 0px;
}

header {
    background-color: rgb(20, 10, 60);
    color: white;
    font-style: normal;
}

.header {
    background-color: rgb(20, 10, 60);
    height: 400px;

}

.header img {
    width: 250px;
    height: 250px;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.header a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: large;





}

.header ul {
    list-style: none;
    padding-left: 600px;
    display: flex;
    text-align: center;
    gap: 10px;


}

.header li {}

.header li :hover {
    background-color: beige;
    color: blue;
}

#about_us {
    text-align: center;

    background-color: azure;
    font-weight: 500;
    font-size: 2em;
}

.images img {
    height: 200px;
    width: 200px;
    border: 2px solid blanchedalmond;



}

.image1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 50%;
    color: bisque;
    padding-top: 30px;

}

.image2 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
    color: bisque;
}

#church_activities {
    text-align: center;
}

@media(max-width: 425px) {
    .header {
        background-color: rgb(20, 10, 60);
        height: 200px;
        

    }
    h1 {
        text-align: center;
        font-size: 6px;
        padding-top: 0px;
    }
    .header img {
        width: 10px;
        height: 10px;
        border: 1px solid whitesmoke;
        display: flex;
        /* flex-direction: column; */
        gap: 5px;
    
    }
}